@import "reset.css";

/* body */
body{
    background: linear-gradient(#F4D160, #75C2F6);
}

/* header */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    margin-top: 2rem;
    font-size: 2rem;
}

/* main */
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.todo{
    margin-top: 2rem;
}