@import "reset.css";

/* body */
body{
    background-color: #F3EEEA;
    
    font-weight: 400;
    font-family: "Gowun Dodum", sans-serif;
    font-style: normal;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: #EBE3D5;
}

.home,
.sidebarBtn{
    border: none;
    background-color: transparent;
}

.fa-globe,
.fa-bars {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.fa-globe:hover,
.fa-bars:hover{
    color:#B0A695;
}

h1{
    font-size: 3rem;
}

/* sidebar */

.sideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 20rem;
    height: 100%;
    z-index: 1;
    background-color: #D1BB9E;
}

.closeBtn {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: none;
    background-color: transparent;
    color: #776B5D;
    /* font-weight: bold; */
    /* font-size: 1.1rem; */
}

.closeBtn:hover {
    color:#B0A695;
}

.sideBarOpen {
    right: 0rem;
    transition: right 0.5s ease-in;
}

.sideBarClose {
    right: -20rem;
    transition: right 0.5s ease-in;
}

.menuList{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 0;
    background-color: #D1BB9E;
}

.menuList:hover{
    background-color: #EBE3D5;
}


/* main */

main{
    margin-top: 8rem;
    margin-bottom: 3rem;
    margin-left: 15rem;
    background-color: #F3EEEA;
}

/* table */

.cart {
    display: flex;
    width: 60rem;
    max-height: 30rem;
    margin: 10rem;
    /* 스크롤 설정 */
    overflow-y: scroll;
}

table {
    border: 1rem;
    text-align: center;
}

/* table head */
table th {
    position: sticky;
    width: 12rem;
    height: 3rem;
    background-color: #EBE3D5;
}

/* table data */
table td {
    width: 10rem;
    height: 4rem;
    background-color:floralwhite;
}

/* 구매하기 / 홈으로 버튼 */
.twoBtn{
    display: flex;
    justify-content: center;
}

/* 구매 모달 팝업 */
.buyModal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70rem;
    height: 50rem;
    background-color: white;
    transform: translate(-50%, -50%);
}

.buyItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    margin: 1rem;
    background-color: white;
}

.buyItem img{
    width: 9rem;
    height: 12rem;
    
}

.buyModalClose{
    display: none;
}

.buyModalOpen{
    display: block;
}

.modalClose{
    float: right;
}