@import "reset.css";

/* body */
body{
    background-color: #F3EEEA;
    
    font-weight: 400;
    font-family: "Gowun Dodum", sans-serif;
    font-style: normal;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: #EBE3D5;
}

.fa-globe,
.fa-bars {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

h1{
    font-size: 3rem;
}

/* sidebar */


/* main */

main{
    margin-top: 8rem;
    margin-bottom: 3rem;
    margin-left: 15rem;
    background-color: #F3EEEA;
}

/* table */

.cart {
    width: 60rem;
    max-height: 19rem;
    margin: 10rem;
    overflow-y: scroll;
}

table {
    border: 10px;
    text-align: center;
}

/* table head */
table th {
    position: sticky;
    width: 10rem;
    height: 3rem;
    background-color: #EBE3D5;
}

/* table data */
table td {
    width: 10rem;
    height: 4rem;
    background-color:floralwhite;
}

.buy_btn{
    display: flex;
    justify-content: center;
}