header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #EBE3D5;
}

nav {
    position: fixed;
    top: 10rem;
    padding: 0.5rem;
    background-color: #B0A695;
}

.nav {
    list-style: none;
    padding: 0.5rem;
    text-align: center;
}

nav > li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background-color: #EBE3D5;
}