@import "reset.css";

/* body */
body{
    background-color: #F3EEEA;
}


/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: #EBE3D5;
}

.fa-globe,
.fa-bars {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}


/* nav */
nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10rem;
    left: 2rem;
    width: 9rem;
    height: 15rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #B0A695;
}

.nav_title{
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
}

nav > li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding: 0.3rem;
    background-color: #EBE3D5;
}

/* main */
main{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 15rem;
    background-color: #F3EEEA;
}

main > section{
    padding-top: 2rem;
    padding-left: 1rem;
}

.product_layout{
    display: flex;
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    margin: 1rem;
    background-color: white;
    line-height: 1.5rem;
}

.product_img{
    display: flex;
    width: 12rem;
    height: 16rem;
    margin: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background-color: #776B5D;
    background-size: cover;
}
