@import "reset.css";

/* body */
body {
  background-color: #f3eeea;


  font-weight: 400;
  font-family: "Gowun Dodum", sans-serif;
  font-style: normal;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: #ebe3d5;

  z-index: 2;
}

.home,
.sidebarBtn{
    border: none;
    background-color: transparent;
}

.fa-globe,
.fa-bars {

  margin-right: 1.5rem;
  margin-left: 1.5rem;

}

h1 {
  font-size: 3rem;
}

/* nav */
nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10rem;
  left: 2rem;
  width: 9rem;
  height: 15rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #b0a695;
}

.nav_title {
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}

li {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #ebe3d5;
  &:hover {
    background-color: #b0a695;
    color: white;
  }
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: white;
}

/* banner-box */
.banner-box {
  display: flex;
  overflow: hidden;
  width: 45rem;
  margin: 8rem 0 0 35rem;

}

.banner {
  display: flex;
  width: 200%;
  animation: imageMove 20s linear infinite;
}

.banner img {
  width: 9rem;
  height: 9rem;
  margin-right: 0.7rem;
}

@keyframes imageMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* main */
main {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 15rem;
  background-color: #f3eeea;
}

h2 {
  font-size: 2rem;
}

.all .meal .desssert .drink {
  padding-top: 2rem;
  padding-left: 1rem;
}

.product_layout {
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  margin: 1rem;
  background-color: white;
  line-height: 1.5rem;
}

.product_img {
  display: flex;
  width: 12rem;
  height: 16rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.product:hover {
  animation: producthover 1s linear infinite;
}

@keyframes producthover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.fa-heart {
  &:hover {
    color: red;
  }

}

.fa-heart{
    border: none;
    background-color: transparent;
}

.fa-heart:hover{
    color:red;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: #776b5d;
}

